@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
body{
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

*{
    margin:0;
    padding:0;
}
.hero{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(./image/polar-light.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.banner{
    display: flex;
    justify-content: space-between;
}

.logo{
    margin: auto 3rem;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    font-weight: 600;
}
span{
    color: yellow;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 2rem;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}
nav ul li a::after{
    content: '';
    height: 3px;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: #fff;
    transition: 0.6s ease-out;
}
nav ul li a:hover::after{
    width: 100%;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    color: #fff;
}
.content h1{
    color: rgb(244, 5, 5);
    font-size: 60px;
    font-weight: 800;
}
.content p{
    margin: 0.5rem;
}
button{
    width: 200px;
    margin: 1.2rem 1.5rem;
    padding: 0.8rem 1rem;
    border: 2px solid #fff;
    border-radius: 25px;
    background-color: transparent;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    box-shadow: inset 0 0 0 #009680;
    transition: 0.6s ease-out;
    cursor: pointer;
}
button:hover{
    box-shadow: inset 200px 00 #5c58b8;
}

.container{
    max-width: 1170px;
    background-color: red;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width:22%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px;
    color:#fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #050102;
    height: 2px;
    box-sizing: border-box;
    width: 75px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    outline-color: #bbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}
.footer-col .social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin-right:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .social a:hover{
    color: #24262b;
    background-color: #fff;
}
/*responsive*/
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}